<% provide(:title, "Home") %>
<div class="center">
  <%= image_tag("dodonate.jpg", alt: "DoDonate logo") %>
  
  <div class="jumbotron">
    <h1>Welcome to the DoDonate</h1>

    <h2>
      DoDonate is a web application that helps people who want to donate something to find where they can donate it.
    </h2>

    <%= link_to "Sign up now!", 'users/new', class: "btn btn-lg btn-primary" %>
  </div>
  
</div>
