<div class="center jumbotron">
  <h1>Welcome to the DoDonate</h1>

  <h2>
    DoDonate helps people who want to donate something to find a place where they can donate it.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
