<% provide(:title, "Home") %>
<div class="center">
  <%= image_tag("dodonate.jpg", alt: "DoDonate logo") %>
  

  <% if logged_in? %>

  <% else %>
    <%= render 'partials/welcome' %>
  <% end %>
  
</div>
