<% provide(:title, "Home") %>
<div class="center">
  <%#= image_tag("dodonate.jpg", alt: "DoDonate logo") %>

  <% if logged_in? %>
    <%= render 'partials/dashboard' %>
  <% else %>
    <%= render 'partials/welcome' %>
  <% end %>
  
</div>
