<% provide(:title, "Not Found") %>

<div class="login_container row">
  <h1>Oops...</h1>

  <div class="col-md-8 col-md-offset-2 center">
    <p>We can't seem to find the page you're looking for, sorry!</p>
    <p><%= link_to "Take me back!", home_path %></p>  
  </div>

</div>