<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="jumbotron">
				<h1>Give</h1>
				<div class="subtext">
					I have something that I don't need anymore and I want to donate it
				</div>

				<%= link_to "Register item for donation", item_donate_path, class: "btn btn-lg btn-primary" %>
			</div>
		</div>
		<div class="col-md-6">
			<div class="jumbotron">
				<h1>Receive</h1>
				<div class="subtext">
					I'm in need of something and I would like to see the items for donations
				</div>

				<%= link_to "Check donation items", items_path, class: "btn btn-lg btn-primary" %>
			</div>
		</div>
	</div>	
</div>	