<div class="container row">
  <div class="project-title">
    <h1><b>Dodo</b>nate</h1>
  </div>

  <div class="jumbotron welcome-container">
    <div class="subtext">
      DoDonate is a web application that helps you to get rid of that things you keep at home, but don't really want.
      <br>
      <br>
      Or if you need something, check out the items for donation!
    </div>

      <%= link_to "Sign up now!", '/signup', class: "btn btn-lg btn-primary" %>
      <h3>Already have an account? <%= link_to "Click here to log in", '/login' %></h3>
  </div>
</div>