<% provide(:title, 'Profile edit') %>
<% provide(:button_text, 'Update my profile') %>

<div class="login_container row">
  <h1>Edit profile</h1>

  <div class="col-md-6 col-md-offset-3">
    <%= render 'users/partials/user_form' %>    
    <h3>Hmm, nothing to do here... <%= link_to "let's go back", profile_path %></h3>  
  </div>
</div>