<% provide(:title, 'Give') %>
<% provide(:button_text, 'Update item') %>

<div class="login_container row">
  <h1>Edit item</h1>

  <div class="col-md-6 col-md-offset-3">
    <%= render 'items/partials/item_form' %>
    <h3>Hmm, nothing to do here... <%= link_to "let's go back", items_path %></h3>  
  </div>

</div>