<% provide(:title, 'Items') %>

<div class="container row">
  <div class="container">
    <h1>Items for donation</h1>
  </div>
    <div class="col-md-8">
      <div class="jumbotron">
        <%= render 'items/items_for_donation' %>
        <% if @own_items.empty? && @other_items.empty? %>
          <div class="subtext">
            <p>No items for donation yet :(</p>
          </div>
        <% end %>

      </div>
    </div>
    <div class="col-md-4">
      <div class="subtext">
        <p> Here you can edit or remove items you added for donation.</p>
        <p> You can also look for an item you want and get in touch with the person who announced it.</p> 
      </div>
    </div>
</div>  
<div class="container">
<%= button_to "Back", { action: "home", controller: "static_pages" }, method: :get, class: "btn btn-primary btn-small" %>
</div>


