<% provide(:title, 'Give') %>
<% provide(:button_text, 'Register item for donation!') %>

<div class="login_container row">
  <h1>Donate</h1>

  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@item) do |f| %>
      <%= render 'shared/error_messages', object: @item %>
      <%= render 'items/partials/item_form', object: @item %>
    <% end %>
  </div>

</div>