<footer class="footer">
  <small>
    The Dodonation by <a href="http://www.github.com/doisLan">Allan Pires</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>